@import "partials/reset";

// REGOLE GENERALI
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

// REGOLE DI LAYOUT
.my-container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.htmlBackgroundcolor {
    background-color: rgba(53,54,58,1);
}